/*管理画面のスタイル設定*/

/*投稿欄
----------------------------------*/
/*タイトル*/
#title{
}
/*記事入力欄*/
#postdivrich{
/*display:none;*/
}

/*カスタムフィールド　入力欄
----------------------------------*/
.post,
.textarea,
.postbox{
margin:0px 0px 6px 0px;
}
h4.cf_title{
margin:4px 0px 4px 0px;
width:95%;
}
textarea.data{
width:95%;
}

/*説明タイトル横の新規追加ボタン
----------------------------------*/
.add-new-h2{
display:none;
}
/*パーマリンク　編集欄
----------------------------------*/
span#view-post-btn{/*パーリンクの編集が必要ない場合*/
display:none;
}
/*投稿後のメッセージ欄
----------------------------------*/
#message a{/*リンク先のみを非表示*/
display:none;
}
/*更新プレビュー欄
-----------------------------------*/
#preview-action a#post-preview{
display:none;
}

/*ダッシュボード
-------------------------------------*/
/*テーマへのリンク削除*/
.versions p{
display:none;
}
/*ワードプレスのバージョン非表示*/
#wp-version-message{
display:none;
}